.table {
    width: 250px;
    height: 40%;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid #2F785D;
    resize: both;
}

.header {
    width: 100%;
    height: 10%;
}

.titleArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    overflow-y: auto;
}

.body::-webkit-scrollbar {
    display: none;
}

.horizontalLine {
    width: 100%;
    height: 3px;
    background-color: #2F785D;
}

.headerText {
    color: #2F785D;
    font-weight: bold;
}

.leftArea {
    width: 49%;
    height: 100%;
}

.verticalLine {
    width: 3px;
    height: 100%;
    flex-grow: 100;
    background-color: #2F785D;
}

.rightArea {
    width: 49%;
    height: 100%;
}

.inputValueRow {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lauchIdLabel {
    font-size: 16px;
    color: #2A755A;
    font-weight: bold;
    margin: 1px 10px 1px 10px;
}

.valueLabel {
    font-size: 17px;
    color: #000;
    font-weight: bold;
    margin: 1px 10px 1px 10px;
}

.inputValueRow:hover {
    background-color: #2F785D;
}

.inputValueRow:hover>span {
    color: #fff;
}

.result {
    font-size: 17px;
    color: #2F785D;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
}

.resultArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}